.page__header{
  margin-top: 45px;
  padding-bottom: 37px;
  border-bottom: solid 1px #333;

}
@media screen and (max-width: 768px){
  .page__header{
    margin-top: 28px;
    padding-bottom: 30px;
  }
}

@media screen and (max-width: 425px){
  .page__header{
    margin-top: 28px;
    padding-right: 27px;
    padding-bottom: 30px;
    padding-left: 27px;
  }
}