.cards{
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  list-style: none;
  gap: 20px 17px;
}

.cards:empty::before{
  margin: 0;
  padding: 25px;
  width: 100%;
  box-sizing: border-box;
  content: "! нет фото !";
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  text-align: center;
  color: #f00;
  background-color: #fff;
}

@media screen and (max-width: 425px){
  .cards:empty::before{
    padding: 15px 5px;
    font-size: 27px;
    line-height: 33px;
  }
}