.card__image-box{
  position: relative;
}

.card__image-box::after{
  content: "";
  padding-bottom: 100%;
  display: block;
}


.card__image-box::before{
  content: "";
  width: 100%;
  height: 100%;
  background-color: #000;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index:1;
  opacity: 0.3;
  transition: opacity ease-in-out 0.3s;
}

.card__image-box:hover::before{
  opacity: 0.1;
}